.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.github-icon {
    margin: 1em;
    cursor: help;
    opacity: 0;
    transition: opacity 3s ease;
    z-index: 2;
}

.github-icon:hover {
    opacity: 1;
    transition: opacity 3s ease 500ms;
}

.github-icon:not(:hover) {
    opacity: 0;
    transition: opacity 3s ease;
}

.github-stats {
    margin: 1em;
    opacity: 0;
    z-index: 1;
}

.github-stats.fade-in {
    animation: fadeIn 2s ease 1s forwards;
}

.github-stats.fade-out {
    animation: fadeOut 2s ease forwards;
}

.sloth {
    font-size: 165px;
    margin: 0 !important;
    opacity: 0;
    z-index: 1;
}

.sloth.fade-in {
    animation: fadeIn 2s ease 1s forwards;
}

.sloth.fade-out {
    animation: fadeOut 2s ease forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 0.9;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}




